<div class="modal" tabindex="-1" role="dialog" id="system-modal" data-backdrop="static" aria-labelledby="change-name-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"  role="document">
      <div class="modal-content bg-success ">

      <div class="modal-header">
        <h5 class="modal-title">System</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </div>

      <div class="modal-system">
        <h6>＜内容＞</h6>
        <p>ゲーム戦闘シーン再現アプリです。</p>
          <ol>
            <li><p>勇者（初期名：絶対PGになるマン）がモンスターを攻撃</p></li>
            <li><p>モンスターが勇者を攻撃</p></li>
            <li><p>どちらかがHP０になることで戦闘終了</p></li>
            <li><p>新しいモンスターが出現&戦闘</p></li>
          </ol>
        <p>を繰り返すだけのアプリです。</p>
        <p>経験値を上げることで、勇者のレベルも上がります。2レベルになれば新たなコマンドが出現するようになっています。</p>
        <p>勇者のレベルに応じて出てくるモンスターも増えます。ただやりこみ要素はないため、5レベルまであげれば全てのキャラが出るようになっており、レベルにあっていない敵も出てきます。</p>

        <h6>＜Actoinコマンド＞</h6>
        <ul>
          <li>
            <p>Attackコマンド：通常攻撃。ダメージはランダム。</p>
          </li>
         <li>
            <p>Skillコマンド：特定のキャラのみ、通常攻撃の効かない敵が存在します。その敵に対してのみ大ダメージを与えることができます。</p>
          </li>
          <li>
            <p>Spellコマンド：10秒以内に3つのうちのどれかの呪文を唱えることで相手にダメージを与えることができます。何も入力しなければダメージは0になります。</p>
          </li>
          <li>
            <p>Escapeコマンド：戦闘を終了し、次のモンスターが出てきます。現状100％成功します。</p>
          </li>
        </ul>

        <h6>＜Settingコマンド＞</h6>
        <ul>
          <li>
            <p>勇者名の変更、アカウントの編集、ログアウトができます。
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>